.layout {
  background-color: teal;
  text-align: center;
  color: navy;
}

#logo {
  display: block;
  margin: 0 auto;
  background-color: teal;
  width: 500px;
}

body {
  background-color: aquamarine;
}

#horizontal_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    text-align: center;
}

li {
    float: left;
    margin-left: 100px;
    padding-left: 60px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.outerlist {
  align-items: center;
}



@keyframes flyUpright {
  0% {
    transform: translate(0px, 0px);
    position:fixed;
  }
  50% {
    transform: translate(600px, -600px);
    position:fixed;
  }
  100% {
    transform: translate(0px, 0px);
    position:fixed;
  }
}

.crossanimate {
  animation-name: flyUpright;
  animation-duration: 5s;
}

@keyframes flyLessright {
  0% {
    transform: translate(80px, 80px);
    position:fixed;
  }
  50% {
    transform: translate(400px, -500px);
    position:fixed;
  }
  100% {
    transform: translate(80px, 80px);
    position:fixed;
  }
}

.buzzanimate {
  animation-name: flyLessright;
  animation-duration: 5s;
}

@keyframes flyUpleft {
  0% {
    transform: translate(0px, 0px);
    position:fixed;
  }
  50% {
    transform: translate(-400px, -500px);
    position:fixed;
  }
  100% {
    transform: translate(0px, 0px);
    position:fixed;
  }
}

.seaglideranimate {
  animation-name: flyUpleft;
  animation-duration: 5s;
}

@keyframes flyUpperleft {
  0% {
    transform: translate(0px, 0px);
    position:fixed;
  }
  50% {
    transform: translate(-600px, -600px);
    position:fixed;
  }
  100% {
    transform: translate(0px, 0px);
    position:fixed;
  }
}

.tailplaneanimate {
  animation-name: flyUpperleft;
  animation-duration: 5s;
}
